<%= form_for(@quiz) do |f| %>
    <table class="table">
        <tbody>
            <tr>
                <td>４択クイズタイトル</td>
                <td><%= f.text_field :quiz_title %></td>
            </tr>
            <tr>
                <td>問題文</td>
                <td><%= f.text_area :quiz_text%></td>
            </tr>
            <tr>
                <td>選択肢A</td>
                <td><%= f.text_field :quiz_parts1 %></td>
            </tr>
            <tr>
                <td>選択肢B</td>
                <td><%= f.text_field :quiz_parts2 %></td>
            </tr>
            <tr>
                <td>選択肢C</td>
                <td><%= f.text_field :quiz_parts3 %></td>
            </tr>
            <tr>
                <td>選択肢D</td>
                <td><%= f.text_field :quiz_parts4 %></td>
            </tr>
        </tbody>
    </table>

    <%= f.hidden_field :quiz, :value => @quiz.owner_user_id %>
    <div class="form-actions">
        <%= f.button :submit, :class => 'btn btn-warning' %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),                    quizzes_path, :class => 'btn' %>
    </div>
<% end %>
