<%= simple_form_for @quiz,  :html => { :class => 'form-horizontal' } do |f| %>
    <%= f.input :quiz_title, label: '４択クイズタイトル'%>
    <%= f.input :quiz_text, label: '問題文'%>
    <%= f.input :quiz_parts1, label: '選択肢A'%>
    <%= f.input :quiz_parts2, label: '選択肢B'%>
    <%= f.input :quiz_parts3, label: '選択肢C'%>
    <%= f.input :quiz_parts4, label: '選択肢D'%>
    <%= f.input :answer, label: '解答', :collection => [['選択肢A',1],['選択肢B',2],['選択肢C',3],['選択肢D',4]] %>
    <%= f.hidden_field :quiz, :value => @quiz.owner_user_id %>
    <div class="form-actions">
        <%= f.submit '登録', :class => 'btn btn-warning' %>
        <%= link_to "キャンセル", project_path(@project.id), :class => 'btn' %>
    </div>
<% end %>
