<%- model_class = Quiz -%>
<div class="page-header">
    <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th><strong><%= model_class.human_attribute_name(:id) %></strong></th>
            <th><strong><%= model_class.human_attribute_name(:quiz_title) %></strong></th>
            <th><strong><%= model_class.human_attribute_name(:owner_user_id) %></strong></th>
            <th><strong><%= model_class.human_attribute_name(:quiz_text) %></strong></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><%= @quiz.id %></td>
            <td><%= @quiz.quiz_title %></td>
            <td><%= @quiz.owner_user_id %></td>
            <td><%= @quiz.quiz_text %></td>
        </tr>
    </tbody>
</table>


<div class="form-actions">
    <%= link_to t('.back', :default => t("helpers.links.back")),
        quizzes_path, :class => 'btn'  %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
        edit_quiz_path(@quiz), :class => 'btn' %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
         quiz_path(@quiz),
         :method => 'delete',
         :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
         :class => 'btn btn-danger' %>
</div>
