<%- model_class = Quiz -%>
<div class="page-header">
    <h3>クイズ詳細画面</h3>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th><strong>ID<%#= model_class.human_attribute_name(:id) %></strong></th>
            <th><strong>タイトル<%#= model_class.human_attribute_name(:quiz_title) %></strong></th>
            <th><strong>作成者<%#= model_class.human_attribute_name(:owner_user_id) %></strong></th>
            <th><strong>クイズ本文<%#= model_class.human_attribute_name(:quiz_text) %></strong></th>
            <th><strong>選択肢A</strong></th>
            <th><strong>選択肢B</strong></th>
            <th><strong>選択肢C</strong></th>
            <th><strong>選択肢D</strong></th>
            <th><strong>解答</strong></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><%= @quiz.id %></td>
            <td><%= @quiz.quiz_title %></td>
            <td><%= @username %></td>
            <td><%= @quiz.quiz_text %></td>
            <td><%= @quiz.quiz_parts1 %></td>
            <td><%= @quiz.quiz_parts2 %></td>
            <td><%= @quiz.quiz_parts3 %></td>
            <td><%= @quiz.quiz_parts4 %></td>
            <td><%= @quiz.answer%></td>
        </tr>
    </tbody>
</table>

<h3><%= link_to "プロジェクト詳細へ戻る", project_path(:id=>@project.id), :class => 'btn' %></h3>
