<% provide(:title, "ログイン画面") %>
<h3>nijikaiqログイン</h3>

<div class="row">
    <div class="span6 offset1">
        <%= form_for(:session, url: sessions_path) do |f| %>
            <%= f.label :email %>
            <%= f.text_field :email %>
            <%= f.label :password %>
            <%= f.password_field :password %></br>
            <%= f.submit "サインイン", class: "btn btn-primary" %>
        <% end %>
        <p>初めての方はユーザ登録して下さい。 <%= link_to "ユーザ登録!", signup_path,:class=>"btn btn-mini btn-danger"%></p>
    </div>
</div>
