<%if @ansFlg == 4%>
    <h1>問題が全て終了しました。</h1>
    <td><%= link_to "プロジェクトコード入力画面に戻る", "/slides/top", :class => 'btn btn-small' %></td>
<%end%>

<%if @ansFlg != 4%>
    <h2 class="text-center">第<%= @num%>問　<%= @quiz.quiz_title%></h2>
    <%= form_tag('/slides/answer') do  %>
        <h3><%= @quiz.quiz_text%></h3>
        <table class="table table-bordered" id="quiz">
            <tbody>
                <tr>
                    <td width="10%" id="abc">
                        <div class="text-left">選択肢A</div>
                    </td>
                    <td width="40%">
                        <div class="text-center"><%= radio_button 'answer_select', 'index', '1', :class=>'radio'%><%= @quiz.quiz_parts1%> </div>
                    </td>
                    <td width="10%">
                        <div class="text-left">選択肢B</div>
                    </td>
                    <td width="40%">
                        <div class="text-center"><%= radio_button 'answer_select', 'index', '2', :class=>'radio'%><%= @quiz.quiz_parts2%></div>
                    </td>
                </tr>
                <tr>
                    <td width="10%">
                        <div class="text-left">選択肢C</div>
                    </td>
                    <td width="40%">
                        <div class="text-center"><%= radio_button 'answer_select', 'index', '3', :class=>'radio'%><%= @quiz.quiz_parts3%></div>
                    </td>
                    <td width="10%">
                        <div class="text-left">選択肢D</div>
                    </td>
                    <td width="40%">
                        <div class="text-center"><%= radio_button 'answer_select', 'index', '4', :class=>'radio' %><%= @quiz.quiz_parts4%></div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="span12 text-right">
            <%= hidden_field :quiz, :id%>
            <%= hidden_field :project, :id%>
            <%= submit_tag 'ファイナルアンサー', :class => 'btn btn-small btn-warning' %>
        </div>
    <%end%>
<%end%>

