<%= form_for(@project) do |f| %>
    <% if @project.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@project.errors.count, "error") %> prohibited this sample from being saved:</h2>

            <ul>
                <% @project.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="field">
        <h4>タイトル</h4>
        <%= f.text_field :title %>
        <h4>プロジェクト説明</h4>
        <%= f.text_field :text %>
        <%= f.hidden_field :user_id, :value => @project.user.id %>
    </div>
    <div class="actions">
        <%= f.submit '作成', :class => 'btn btn-info' %>
    </div>
<% end %>
